@use "./../../../styles.scss" as *;
.side-bar-menu {
  display: flex;
  flex-direction: column;
  height: 100%;

  .side-bar-menu-header {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    background-color: $color-primary;
  }

  .adn-close {
    font-size: 1.5em;
    cursor: pointer;
  }

  .side-bar-menu__container-icon {
    display: flex;
    align-items: center;
    .adn-parking-meter {
      font-size: 2.5em;
      cursor: pointer;
    }
  }

  .side-bar-menu-body {
    flex: 1;
  }

  .side-menu-body-links {
    margin: 0;
    padding: 20px 10px 20px 20px;

    font-size: 0.95em;
    font-weight: 400;

    cursor: pointer;

    &.active {
      background-color: $color-secondary;
      color: white;
    }
  }
}

mat-drawer-container {
  height: calc(100vh - 48px);
}
