<div class="container__create-reservation">
    <h1 class="title__create-reservation">Crear reservación</h1>

    <div [formGroup]="formReservation" class="container-form">
        <h2 class="title__form">Ingrese la matricula del vehiculo</h2>
        <app-license-input (licenseEvent)="setLicenseNumber($event)"></app-license-input>
        <div class="row-form">
            <div class="row-form__container-input">
                <mat-form-field validar appearance="outline">
                    <mat-label>Nombre del propietario del vehiculo</mat-label>
                    <input formControlName="owner" name="owner" type="text" matInput placeholder="Placeholder">
                </mat-form-field>
            </div>
        </div>
        <div class="row-form">
            <div class="row-form__container-input">
                <mat-form-field validar appearance="outline">
                    <mat-label>Horas de reserva</mat-label>
                    <input formControlName="hour" name="hour2" type="number" value="1" matInput placeholder="1">
                </mat-form-field>
            </div>
            <div class="row-form__container-input">
                <mat-form-field validar appearance="outline">
                    <mat-label>Fecha de Ingreso</mat-label>
                    <input readonly formControlName="date" name="date1" type="text" matInput placeholder="Placeholder">
                </mat-form-field>
            </div>
        </div>
    </div>
    <hr>
    <div class="summary-payment">
        <h1 class="title__summary">Resumen de pago</h1>
        <table class="table-summary">
            <tbody>
                <tr>
                    <td>Cargo Basico</td>
                    <td>{{basePrice | currency}}</td>
                </tr>
                <tr *ngIf="car.onDemand">
                    <td>Recargo* (alta demanda)</td>
                    <td>{{extraOnDemand | currency}}</td>
                </tr>
                <tr *ngIf="car.dominical">
                    <td>Recargo* (fin de semana)</td>
                    <td>{{extraWeekend | currency}}</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>{{totalPrice | currency}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="btn-container__form">
        <button (click)="generateReservation()" [disabled]="isTheFormInvalid" class="btn-save" type="submit">Generar reserva</button>
    </div>
</div>
