<div class="alert-container" *ngIf="data2">
    <span (click)="action(null)" class="cmk-close"><span class="path1"></span><span class="path2"></span></span>
    <div class="container-image" *ngIf="!data2?.iconTemplate">
        <span *ngIf="data2?.icon" class="{{data2?.icon}}"></span>
    </div>
    <div *ngIf="data2?.iconTemplate" class="container-image" [innerHTML]="data2?.iconTemplate"></div>
    <div class="content-msg">
        
        <h2 [ngClass]="{'left-align': data2?.align_left}" *ngIf="data2?.title" class="title-alert">{{data2?.title}}</h2>
        <p *ngIf="data2?.subtitle" class="title-sub-alert">{{data2?.subtitle}}</p>
        <div [ngClass]="{'left-align': data2?.align_left}" class="body">
            <p *ngIf="data2?.message" class="message">{{data2?.message}}</p>
            <p id="btn-ok" *ngIf="data2?.button_template" (click)="action(data2?.index_action_button)" [innerHTML]="data2?.button_template"></p>
        </div>
    </div>
    <div
        fxLayout="layout wrap"
        fxlayout.lt-sm="column"
        fxLayoutAlign.xs="center"
        fxLayoutGap="20px">

        <div *ngIf="data2?.text_button1" (click)="action(1)" class="btns">
            <a id="btn-action1" fxFlex="calc(50% - 20px)" class="link-btn">{{data2?.text_button1}}</a>
        </div>

        <div *ngIf="data2?.text_button2" (click)="action(2)" class="btns">
            <a id="btn-action2" fxFlex="calc(50% - 20px)" class="link-btn black">{{data2?.text_button2}}</a>
        </div>
    </div>
</div>
