<div class="container__historical">
    <h1 class="title_historical">Registro historico de estacionamiento</h1>
    <h3 class="description_historical">En este espacio podras visualizar el registro historico de estacionamiento de vehiculos. Todos los servicios de estacionamiento prestados, serán visualizados en esta sección.</h3>
    <table class="c-table">
        <thead>
            <th>Placa Vehicular</th>
            <th>Fecha de Ingreso</th>
            <th>Fecha de Salida</th>
            <th>Valor Pagado</th>
            <th>Aplica Recargo</th>
            <th>Lugar Ocupado</th>
        </thead>
        <tbody>
            <tr>
                <td>item 1</td>
                <td>item 2</td>
                <td>item 3</td>
                <td>item 3</td>
                <td>item 4</td>
                <td>item 5</td>
            </tr>
            <tr>
                <td>item 1</td>
                <td>item 2</td>
                <td>item 3</td>
                <td>item 3</td>
                <td>item 4</td>
                <td>item 5</td>
            </tr>
            <tr>
                <td>item 1</td>
                <td>item 2</td>
                <td>item 2</td>
                <td>item 3</td>
                <td>item 4</td>
                <td>item 5</td>
            </tr>
            <tr>
                <td>item 1</td>
                <td>item 2</td>
                <td>item 2</td>
                <td>item 3</td>
                <td>item 4</td>
                <td>item 5</td>
            </tr>
            <tr>
                <td>item 1</td>
                <td>item 2</td>
                <td>item 3</td>
                <td>item 3</td>
                <td>item 4</td>
                <td>item 5</td>
            </tr>
            <tr>
                <td>item 1</td>
                <td>item 2</td>
                <td>item 3</td>
                <td>item 3</td>
                <td>item 4</td>
                <td>item 5</td>
            </tr>
        </tbody>
    </table>
</div>
