<div class="container__historical">
    <h1 class="title_historical">Registro historico de estacionamiento</h1>
    <h3 class="description_historical">En este espacio podras visualizar el registro historico de estacionamiento de vehiculos. Todos los servicios de estacionamiento prestados, serán visualizados en esta sección.</h3>
    <table aria-describedby="historical services in the platform" class="c-table">
        <thead>
            <th>Placa Vehicular</th>
            <th>Fecha de Ingreso</th>
            <th>Fecha de Salida</th>
            <th>Valor Pagado</th>
            <th>Aplica Recargo</th>
            <th>Lugar Ocupado</th>
        </thead>
        <tbody>
            <tr *ngFor="let carParked of parkingHistory">
                <td>{{carParked.license | uppercase}}</td>
                <td>{{carParked.date}}</td>
                <td>{{carParked.dateEnd}}</td>
                <td>{{carParked.license}}</td>
                <td>{{carParked.license}}</td>
                <td>{{carParked.spot}}</td>
            </tr>
        </tbody>
    </table>
</div>
