@use "../../../../../../styles.scss" as *;
.spot-place-stop {
  position: relative;
  height: 5px;
  width: 80%;
  background: white;
  color: white;
  display: block;
  text-align: center;
  align-self: center;
  margin: auto;
  margin-top: 8px;
  display: flex;
  background-color: $black;
  overflow: hidden;

  span {
    display: block;
    flex: 1;
  }

  span:nth-child(even) {
    background-color: yellow;
    transform: rotateZ(120deg);
    border-width: 13px;
    height: 21px;
    top: -7px;
    position: relative;
  }
}

.car-zone {
  position: relative;
  flex: 1;
  border: 1px dashed grey;
  margin: 10px;
  cursor: pointer;
  padding: 10px;
  box-sizing: border-box;
}

.car-parked {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.card-parked__header{
  img{
    width: 100%;
    height: 100%;
  }
}

.card-parked__header:hover .car-parked__information{
  display: block;
}

.car-parked__information{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  padding: 10px;
  display: none;
  
  border-radius: 9px;
  background-color: $color-primary;
  z-index: 1;

  .info__text{
    font-size: 0.9em;
    color: $color-secondary;
    font-weight: 500;

    span{
      text-transform: capitalize;
      font-weight: 400;
    }
  }
}

.btn-leave-parking {
  border: 1px solid $color-error;
  border-radius: 5px;
  text-align: center;
  padding: 6px 20px;
  color: white;
  cursor: pointer;
  font-size: 1em;
  transition: all 0.4s;
  background-color: transparent;

  &:disabled {
    background-color: $color-gray-100;
  }

  &:hover:not(:disabled) {
    background-color: $color-error;
  }
}
