<div class="spot-place-stop">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>

<div [id]="'parking-zone'+id" (click)="openCreateReservation()" class="car-zone">
    <div class="car-parked" *ngIf="isReserved">
        <div class="card-parked__header">
            <img alt="type of car" [src]="car.carType">
            <div *ngIf="isReserved" class="car-parked__information">
                <p class="info__text">Placa: <span>{{car.license | uppercase}}</span></p>
                <p class="info__text">Dueño: <span>{{car.owner}}</span></p>
                <p class="info__text">Hora de Salida: <span>{{endTimeParking}}</span></p>
            </div>
        </div>
        <button id="cancel-reservation" (click)="cancelReservation()" class="btn-leave-parking">Salir</button>
    </div>
</div>
