<div class="container__license-plates">
    <h1 class="title_license">Registro de Placas Vehiculares</h1>
    <h3 class="description_license">En este espacio podras visualizar el registro de vehiculos que han estado utilizando los servicios de estacionamiento.</h3>
    <table id="license-plates" aria-describedby="licenses registered in the platform" class="c-table">
        <thead>
            <th>Placa Vehicular</th>
            <th>Primer Ingreso</th>
            <th>N° de Servicios</th>
            <th>Total de Horas</th>
        </thead>
        <tbody>
            <tr *ngFor="let license of groupByLicense | async">
                <td>{{license.license | uppercase}}</td>
                <td>{{license.date}}</td>
                <td>{{license.frecuency}}</td>
                <td>{{license.hour}}</td>
            </tr>
        </tbody>
    </table>

    <div class="mobile-view">
        <div
          class="mobile-historical-item"
          *ngFor="let license of groupByLicense | async"
        >
          <div class="row__item">
            <p class="title__item">Placa Vehicular</p>
            <p class="value__item">{{license.license | uppercase}}</p>
          </div>
    
          <div class="row__item">
            <p class="title__item">Primer Ingreso</p>
            <p class="value__item">{{ license.date }}</p>
          </div>
    
          <div class="row__item">
            <p class="title__item">N° de Servicios</p>
            <p class="value__item">{{ license.frecuency }}</p>
          </div>
    
          <div class="row__item">
            <p class="title__item">Total de horas</p>
            <p class="value__item">{{ license.hour }}</p>
          </div>
        </div>
      </div>
</div>

