@use "../../../../styles.scss" as *;
.container__reservation{
    box-sizing: border-box;
    height: calc(100% - 48px);
    .parking-zone{
        min-height: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(200px, 250px));
        background-color: $color-secondary;
    }

    .parking-zone__spot-parking{
        border: 1px solid black;
        min-height: 200px;
        
        .car-zone-container{
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }
}