<div class="container__license-plates">
    <h1 class="title_license">Registro de Placas Vehiculares</h1>
    <h3 class="description_license">En este espacio podras visualizar el registro de vehiculos que han estado utilizando los servicios de estacionamiento.</h3>
    <table class="c-table">
        <thead>
            <th>Placa Vehicular</th>
            <th>Primer Ingreso</th>
            <th>N° de Servicios</th>
            <th>Total de Horas</th>
        </thead>
        <tbody>
            <tr>
                <td>item 1</td>
                <td>item 2</td>
                <td>item 3</td>
                <td>item 5</td>
            </tr>
            <tr>
                <td>item 1</td>
                <td>item 2</td>
                <td>item 3</td>
                <td>item 5</td>
            </tr>
            <tr>
                <td>item 1</td>
                <td>item 2</td> 
                <td>item 3</td>
                <td>item 5</td>
            </tr>
            <tr>
                <td>item 1</td>
                <td>item 2</td>
                <td>item 4</td>
                <td>item 5</td>
            </tr>
            <tr>
                <td>item 1</td>
                <td>item 2</td>
                <td>item 4</td>
                <td>item 5</td>
            </tr>
            <tr>
                <td>item 1</td>
                <td>item 2</td>
                <td>item 3</td>
                <td>item 5</td>
            </tr>
        </tbody>
    </table>
</div>

