@use "../../../../styles.scss" as *;
.container__license-plates{
    display: flex;
    flex-direction: column;

    padding: 0 $padding_adn;
    .title_license{
        margin-bottom: 0px;
        margin-top: 0px;
        padding-top: 25px;
        padding-bottom: 10px;
        
        text-align: center;
        font-size: 2em;
        font-weight: 500;
        color: #004a51;
    }

    .description_license{
        margin-bottom: 50px;

        text-align: center;
        font-size: 1em;
        font-weight: 400;
        color: #004a51;
    }

    .c-table, table {
        border: #B1B1B1 solid 1px;
        thead {
            background-color: #e7e7e7;
            font-family: $font-general;
            font-size: $size-medium;
        }
        thead, tr {
            border-bottom: #B1B1B1 solid 1px;
            &:nth-child(even){
                background-color: #e7e7e7;
            }
        }
        th, td {
            padding: 15px;
        }
        
        td {
            font-size: $size-medium;
            font-family: $font-secondary;
            text-align: center;
        }
    }

    .mobile-view{
        display: none;
    }

    @media screen and (max-width: map-get($sizes-max,'xs')) {
        padding: 0 20px;
        .c-table, table{
            display: none;
        }

        .mobile-view{
            display: block;
        }
        
        .mobile-historical-item{
            border: 1px solid;
            padding: 5px;
            margin-bottom: 10px;
            .row__item{
                padding: 5px;
                border: 1px solid;
                display: flex;
                justify-content: space-between;    
                .title__item, .value__item{
                    margin: 0px;
                    color: $color-secondary;
                }

                .title__item{
                    font-weight: 500;
                }
            }
        }
    }
}